CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=seu_api_secret
DISCORD_BOT_TOKEN=seu_bot_token_aqui
DISCORD_GUILD_ID=id_do_servidor
DISCORD_TCC2_CHANNEL_ID=id_do_canal_de_avisos
